/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a{ text-decoration: none;
    
}


/* FONT */

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* MAIN HEADER */
.main-header {
    font-size: 38px;
    padding-left: 15px;
    padding-top: 8px;
    font-weight: 700;
}

.logo-header{
    vertical-align: middle;
}

/* PARTE CENTRALE */

.container{
    
    margin-left: 200px;
    
}

/* BOTTONI */

.buttons{
    display: inline-block;
    margin-right: 6px;
    padding-top: 50px;
    font-size: 15px;
}

.button1{
    background-color: #47ADF1;
    height: 30px;
    width: 80px;
    border-radius: 10%;
    padding: 5px;
    color: white;
    border: 1px solid;
}

.button2 {
    background-color: white;
    color: #D4D8DC;
    height: 30px;
    width: auto;
    padding: 5px;
    border: 1px solid;
    border-radius: 10%;
}

/* SIMBOLI CON CERCHIO */

.check-circle{
    font-size: 10px;
    color:#71C6B2;
    border-radius: 50%;
    border-color:#71C6B2;
    border: 2px solid;
    padding: 1px 2px 1px 2px;
    margin-right: 3px;
    margin-left: 2px;
    
 }

 .x-circle{
    font-size: 11px;
    color:#EB5B54;
    border-radius: 49%;
    border-color:#EB5B54;
    border: 2px solid;
    padding: 1px 3px;
    margin-right: 3px;
    margin-left: 2px;

 }

/* STILE E SPAZIATURE */

.titolo-sezione{
 font-size: 20px;
 font-weight: 600;
 margin-top: 30px;
}

.riga{
    margin: 5px auto 15px auto;
} 

/* CATEGORIE  */

.category-editorial{
    font-size: 8px;
    color: white;
    background-color: #47ADF1;
    border-radius: 30%;
    padding: 5px;
    vertical-align: middle;
 }

 .category-q1goals{
    font-size: 8px;
    color: white;
    background-color: #9C72E4;
    border-radius: 30%;
    padding: 5px;
    vertical-align: middle;

 }

 .category-recruiting {
    font-size: 8px;
    color: white;
    background-color: #64C0A9;
    border-radius: 30%;
    padding: 5px;
    vertical-align: middle;
 }

 .category-mobile{
    font-size: 8px;
    color: white;
    background-color: #F29E33;
    border-radius: 30%;
    padding: 5px;
    vertical-align: middle;
 }

 .category-website{
    font-size: 8px;
    color: white;
    background-color: #D863A1;
    border-radius: 30%;
    padding: 5px;
    vertical-align: middle;
 }

 .category-sales{
    font-size: 8px;
    color: white;
    background-color: #B0C926;
    border-radius: 30%;
    padding: 5px;
    vertical-align: middle;
 }